
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
      font-family: "Open Sans", sans-serif;
      color: #272829;
    }
    
    a {
      color: #ee727c;
      text-decoration: none;
    }
    
    a:hover {
      color: #f5737e;
      text-decoration: none;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Raleway", sans-serif;
    }
    
    /*--------------------------------------------------------------
    # Back to top button
    --------------------------------------------------------------*/
    .back-to-top {
      position: fixed;
      visibility: hidden;
      opacity: 0;
      right: 15px;
      bottom: 15px;
      z-index: 996;
      background: #149ddd;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      transition: all 0.4s;
    }
    
    .back-to-top i {
      font-size: 28px;
      color: #fff;
      line-height: 0;
    }
    
    .back-to-top:hover {
      background: #2eafec;
      color: #fff;
    }
    
    .back-to-top.active {
      visibility: visible;
      opacity: 1;
    }
    
    /*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
    #header {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 260px;
      transition: all ease-in-out 0.5s;
      z-index: 9997;
      transition: all 0.5s;
      padding: 0 15px;
      background: #000205;
      overflow-y: auto;
      overflow-x: hidden;


    }

    #header::-webkit-scrollbar {
        width: 0;
        /* Largeur de la scrollbar à zéro */
    }

    #header::-webkit-scrollbar-track {
        background-color: transparent;
        /* Couleur de la piste de la scrollbar */
    }

    #header::-webkit-scrollbar-thumb {
        background-color: transparent;
        /* Couleur de la poignée de la scrollbar */
        border: none;
        /* Supprime la bordure de la poignée */
        margin-right: -16px;
        /* Crée un espace réservé pour la barre de défilement invisible */
    }
    
    #header .profile img {
      margin: 15px auto;
      display: block;
      width: 100px;
      border: 8px solid #2c2f3f;
    }
    .rotate {
      margin: 40px auto;
      text-shadow: 0 0 20px white;
      display: inline-block; /* Display the text as an inline block to apply rotation */
      transform: rotate(180deg); /* Rotate the text 180 degrees */
      transition: transform 0.3s; /* Add a smooth transition effect */
    }
  
    #header .profile h1 {
      font-size: 20px;
      color: #fff;
      margin: 20px ;
      padding: 0;
      font-weight: 600;
      -moz-text-align-last: center;
      text-align-last: center;
      font-family: "Poppins", sans-serif;
    }
    
    #header .profile h1 a,
    #header .profile h1 a:hover {
      color: #fff;
      text-decoration: none;
    }
    
    #header .profile .social-links a {
      font-size: 18px;
      display: inline-block;
      background: #212431;
      color: #fff;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
    }
    
    #header .profile .social-links a:hover {
      background: #149ddd;
      color: #fff;
      text-decoration: none;
    }
    
    #main {
      margin-left: 300px;
    }
    
    .container,
    .container-fluid {
      padding-left: 30px;
      padding-right: 30px;
    }
    
    @media (max-width: 1199px) {
      #header {
        left: -300px;
      }
    
      #main {
        margin-left: 0;
      }
    
      .container,
      .container-fluid {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
    
    /*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
    /* Desktop Navigation */
    .nav-menu {
      padding: 30px 0 0 0;
    }
    
    .nav-menu * {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    .nav-menu>ul>li {
      position: relative;
      white-space: nowrap;
    }
    
    .nav-menu a,
    .nav-menu a:focus {
      display: flex;
      align-items: center;
      color: #a8a9b4;
      padding: 12px 15px;
      margin-bottom: 8px;
      transition: 0.3s;
      font-size: 15px;
    }
    
    .nav-menu a i,
    .nav-menu a:focus i {
      font-size: 24px;
      padding-right: 8px;
      color: #6f7180;
    }
    
    .nav-menu a:hover,
    .nav-menu .active,
    .nav-menu .active:focus,
    .nav-menu li:hover>a {
      text-decoration: none;
      color: #fff;
    }
    
    .nav-menu a:hover i,
    .nav-menu .active i,
    .nav-menu .active:focus i,
    .nav-menu li:hover>a i {
      color: #faf2f8;
    }
    
    /* Mobile Navigation */
    .mobile-nav-toggle {
      position: fixed;
      right: 15px;
      top: 15px;
      z-index: 9998;
      border: 0;
      font-size: 24px;
      transition: all 0.4s;
      outline: none !important;
      background-color: #149ddd;
      color: #fff;
      width: 40px;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      border-radius: 50px;
      cursor: pointer;
    }
    
    .mobile-nav-active {
      overflow: hidden;
    }
    
    .mobile-nav-active #header {
      left: 0;
    }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
      width: 100%;
      height: 100vh;
      background: url("../img/hero.jpg") top center;
      background-size: cover;
    }
    
    
    #hero:before {
      content: "";
      background: rgba(5, 13, 24, 0.3);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    
    #hero .hero-container {
      position: relative;
      z-index: 2;
      min-width: 300px;
    }
    
    #hero h1 {
      margin: 0 0 10px 0;
      font-size: 64px;
      font-weight: 700;
      line-height: 56px;
      color: #fff;
    }
    
    #hero p {
      color: #fff;
      margin-bottom: 50px;
      font-size: 26px;
      font-family: "Poppins", sans-serif;
    }
    
    #hero p span {
      color: #fff;
      padding-bottom: 4px;
      letter-spacing: 1px;
      border-bottom: 3px solid;
      background: black;
    }
    .typewriter{
      position: relative;
  }
  .typewriter::after{
      content: '|';
      position: absolute;
      right: 0;
      color: white;
      background: black;
      width: 100%;
      animation: typing 3s steps(14) alternate infinite,
                  line 1s infinite;
  }
  @keyframes typing{
      to{
          width: 0%;
      }
  }
  @keyframes line {
      50%{
          color: transparent;
      }
  }
    
    @media (min-width: 1024px) {
      #hero {
        background-attachment: fixed;
      }
    }
    
    @media (max-width: 768px) {
      #hero h1 {
        font-size: 28px;
        line-height: 36px;
      }
    
      #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
      }
    }
    
    /*--------------------------------------------------------------
    # Sections General
    --------------------------------------------------------------*/
    section {
      padding: 60px 0;
      overflow: hidden;
    }
    
    .section-bg {
      background: #f5f8fd;
    }
    
    .section-title {
      padding-bottom: 30px;
    }
    
    .section-title h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
      color: #000205;
    }
    
    .section-title h2::after {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background: #38010e;
      bottom: 0;
      left: 0;
    }
    
    .section-title p {
      margin-bottom: 0;
    }
    
   
  input#mobile-menu:checked ~ .resume header,
  input#mobile-menu:checked ~ .resume main {
      width: 95%;
  }
  input#mobile-menu:checked ~ nav aside ul li.active{
      width: 174%;
  }
  .resume header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; /* Adjusted to evenly distribute elements */
    border-bottom: 2px solid rgb(236, 232, 232);
  }
  
  .resume header span {
    padding: 0 10px;
    font-weight: bold;
  }
  
  .resume header form {
    display: flex;
    align-items: center; /* Center items vertically in the form */
  }
  
  .resume header form input {
    width: 100%; /* Increase the width to 100% */
    border: none;
    outline: none;
    background: white;
  }
  

  
  .resume main{
      float: right;
      width: 82%;
      height: 670px;
      transition: 0.5s;
  }
 
  .resume main table {
    width: 100%;
    table-layout: fixed; /* Set table layout to fixed to ensure equal column widths */
    max-width: 100%; /* Max width to prevent excessive stretching */
  }
  
  .resume main table th, .resume main table td {
    width: 25%; /* Divide the table into 4 equal columns */
    text-align: left;
    padding: 8px;
    border: 1px  #e5e5e5;
    word-wrap: break-word; /* Allow text to wrap within cells */
  }
  
  
  /* Add media query for smaller screens */
  @media (max-width: 768px) {
    .resume main table th,
    .resume main table td {
      width: 100%; /* Full width for smaller screens */
    }
  }

 
  /* Decrypt button */
  .decrypt-button {
    background-color: #0c0c0c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
  }
  
 